.account-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .details {
    width: 100%;
    text-align: left;
  }
  
  p {
    color: #555;
    font-size: 1rem;
    margin: 10px 0;
  }
  
  strong {
    color: #333;
  }
.ac-holder{
    background-color: black;
    height: 700px;
}  