.auth-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
  }
  
  .link:hover {
    color: #0056b3;
  }
  .login-sign{
    background-color: black;
    height: 700px;
  }
 .signup{
  background-color: black;
  height: 700px;
 }
  